.SRC_Wrap { height:auto; font-size:12px; }
.SRC_Title {  text-align:center; color:#555; border-bottom:2px solid #999; font-size:14px; font-family:Verdana, Geneva, sans-serif; padding:5px; font-weight:700; }
.SRC_Line { width:100%; background-color:#fafafa; height:28px; line-height: 28px; }
.SRC_Line:nth-child(even) { background-color:#f2f2f2; }
.SRC_NumBox { min-width: 32px; float:left; border-right: 1px solid #d5d5d5; }
.SRC_Num { font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-align:right; color:#555; font-weight:500; padding-right:2px; width:100%; height:auto; min-height:28px; line-height:28px; }
.SRC_CodeContent { white-space: pre-wrap; font-size:12px; padding-left:10px; font-family:"Courier New", Courier, monospace; margin:0px; min-height:28px; line-height:28px; }
.SRC_NumContent { text-align:right; margin-right:8px; color:#555; }
.SRC_CodeBox { padding-left: 32px; }

.SC_blue { color: blue; }
.SC_grey { color: grey; }
.SC_navy { color: navy; }
.SC_green { color: green; }
.SC_orange { color: #930; }
.SC_red { color: #F00; }
.SC_teal { color: teal; }
.SC_gold { color: #FC0; }
.SC_pink { color: #ff68a4; }
.SC_bold { font-weight: 700; }

/* ===== Rounded progress bars ===== */

.roundDashed { width: 90px; height: 90px; }
.roundSolid { width: 92px; height: 92px; }
.roundSolid > .jCProgress > div.percent { width: 92px; } 
.jCProgress { position: absolute; z-index: 99; }
.jCProgress > div.percent { font-size: 20px; color:#6b6b6b; text-shadow: 0 1px 1px #fff; font-weight: bold; position:absolute; margin-top:35px; text-align: center; width: 90px; }

/* =====  Dual select boxes  ===== */

.dualBoxes { padding: 22px 16px; position: relative; }
.dualBtn { padding: 0 8px; line-height: 24px; font-size: 11px; cursor: pointer; border: 1px solid #d5d5d5; color: #525252; margin-left: -1px; height: 26px; }
.leftBox, .rightBox { width: 40%; position: relative; }
.leftBox { float: left; }
.rightBox { float: right; }
.fltr { position: absolute; right: 0; top: 5px; font-size: 12px; }
.boxFilter { margin-bottom: 15px; }
.dualControl { text-align: center; width: 90px; margin: 150px 1px; position: absolute; left: 50%; margin-left: -45px; } 
.countLabel { color: gray; font-style:italic; margin-top: 10px; display: block; }
.storageBox { display:none; }
.copiedOption { background-color: Yellow; }
.boxFilter {  background: white; height: 26px; width: 100%; border: 1px solid #D5D5D5; padding: 6px 8px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; margin-top: 5px; }

/* ===== Datatables ===== */

table.dataTable { margin: 0 auto; clear: both; width: 100%; }
table.dataTable thead th { padding: 3px 18px 2px 10px; font-weight: normal; color: #909090; cursor: pointer; *cursor: hand; font-size: 11px; box-shadow: 0 1px 0px #fff inset; -webkit-box-shadow: 0 1px 0px #fff inset; -moz-box-shadow: 0 1px 0px #fff inset; }
table.dataTable tfoot th { padding: 3px 18px 3px 10px;font-weight: bold; }
table.dataTable td { padding: 7px 11px; }
table.dataTable td.center, table.dataTable td.dataTables_empty { text-align: center; }
table.dataTable tbody tr td, table.dataTable thead tr th { border-left: 1px solid #dfdfdf; }
table.dataTable tbody tr td:first-child, table.dataTable thead tr th:first-child { border-left: none; }
table.dataTable thead tr:first-child { margin: 0; padding: 0; border-top: none; }
table.dataTable tr { border-top: 1px solid #dfdfdf; }
table.dataTable tr.odd {  }
table.dataTable tr.even { background-color: #f2f2f2; }

tr.odd.gradeA td.sorting_1 { background-color: #f4f4f4; }
tr.odd.gradeA td.sorting_2 { background-color: #d1ffd1; }
tr.odd.gradeA td.sorting_3 { background-color: #d1ffd1; }
tr.even.gradeA td.sorting_1 { background-color: #efefef; }
tr.even.gradeA td.sorting_2 { background-color: #e2ffe2; }
tr.even.gradeA td.sorting_3 { background-color: #e2ffe2; }
tr.odd.gradeC td.sorting_1 { background-color: #c4c4ff; }
tr.odd.gradeC td.sorting_2 { background-color: #d1d1ff; }
tr.odd.gradeC td.sorting_3 { background-color: #d1d1ff; }
tr.even.gradeC td.sorting_1 { background-color: #d5d5ff; }
tr.even.gradeC td.sorting_2 { background-color: #e2e2ff; }
tr.even.gradeC td.sorting_3 { background-color: #e2e2ff; }

.dataTables_wrapper { position: relative; clear: both; *zoom: 1; }
.dataTables_length { float: right; margin-top: 15px; }
.showentries { float: left; margin: 4px 15px 0 0; }
.dataTables_filter { float: left; font-size: 11px; text-align: left; margin: 18px 0; position: relative; }
.dataTables_filter label > span { display: block; float: left; padding-top: 1px; }
.dataTables_filter input[type=text] { padding: 5px 20px 5px 7px;  margin-left: 15px; width: 180px; background: #f9f9f9; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; border: 1px solid #d7d7d7; }
.dataTables_info { clear: both; float: left; padding: 6px 0; font-size: 12px; }
.tableFooter { clear: both; padding: 8px 12px; height: 36px; font-size: 12px; color: #636363; border-top: 1px solid #cdcdcd; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; background: #f8f8f8; background: -moz-linear-gradient(top,  #f8f8f8 0%, #efefef 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#efefef)); background: -webkit-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: -o-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: -ms-linear-gradient(top,  #f8f8f8 0%,#efefef 100%); background: linear-gradient(top,  #f8f8f8 0%,#efefef 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );  }
 
.hiddenpars .tablePars { display: none; }
.shownpars .tablePars { display: block; }
.tablePars { border-bottom: 1px solid #D5D5D5; height: 61px; box-shadow: 0 1px 0 #fff inset; -webkit-box-shadow: 0 1px 0 #fff inset; -moz-box-shadow: 0 1px 0 #fff inset; clear: both; padding: 0 16px; font-size: 11px; color: #636363; background: url(../images/backgrounds/alt.png); }

.dataTables_paginate { float: right; margin-top: 7px; }
.dataTables_paginate .last { margin-right: 0!important; }

/* Two button pagination - previous / next */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next { height: 19px; float: left; cursor: pointer; *cursor: hand; color: #111 !important; }
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover { text-decoration: none !important; }
.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active { outline: none; }
.paginate_disabled_previous, .paginate_disabled_next { color: #666 !important; }
.paginate_disabled_previous, .paginate_enabled_previous { padding-left: 23px; }
.paginate_disabled_next, .paginate_enabled_next { padding-right: 23px; margin-left: 10px; }
.paginate_enabled_previous { background: url('../images/tables/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/tables/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/tables/back_disabled.png') no-repeat top left; }
.paginate_enabled_next { background: url('../images/tables/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/tables/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/tables/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers { height: 22px; line-height: 22px; }
.paging_full_numbers .next:active, .paging_full_numbers .first:active, .paging_full_numbers .previous:active, .paging_full_numbers .last:active { font-weight: normal!important; }
.paging_full_numbers a:active { outline: none }
.paging_full_numbers a:hover { text-decoration: none; }
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active { border: 1px solid #d3d3d3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 4px 7px; margin: 0 3px; cursor: pointer; *cursor: hand; color: #919191; font-size: 12px; box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf;  }
.paging_full_numbers a.paginate_button { background: #f9f9f9; background: -moz-linear-gradient(top,  #f9f9f9 0%, #eeeeee 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eeeeee)); background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%); background: -o-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%); background: -ms-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%); background: linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); } 
.paging_full_numbers a.paginate_button:hover { background: #f6f6f6; background: -moz-linear-gradient(top,  #f6f6f6 0%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e8e8e8)); background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); background: -o-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); background: -ms-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); background: linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 ); }
.paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active { background: #6f6f6f; color: #fff; border-color: #646464; box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; -moz-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; font-weight: bold; }
.paginate_button_disabled, .paginate_button_disabled:active  { background: #eaeaea!important; color: #c5c5c5!important; box-shadow: none!important; font-weight: normal!important; }
.paginate_button_disabled:active { border-color: #d3d3d3!important; }

.dataTables_processing { position: absolute; top: 50%; left: 50%; width: 250px; height: 30px; margin-left: -125px; margin-top: -15px; padding: 14px 0 2px 0; border: 1px solid #ddd; text-align: center; color: #999; font-size: 14px; background-color: white; }
.sorting { background: #eee url('../images/tables/sort_both.png') no-repeat center right; }
.sorting_asc { background: #eee url('../images/tables/sort_asc.png') no-repeat center right; }
.sorting_desc { background: #eee url('../images/tables/sort_desc.png') no-repeat center right; }
.sorting_asc_disabled { background: url('../images/tables/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/tables/sort_desc_disabled.png') no-repeat center right; }
 table.dataTable th:active { outline: none; }
.dataTables_scroll { clear: both; }
.dataTables_scrollBody { *margin-top: -1px; -webkit-overflow-scrolling: touch; }




/* ===== iPhone like checkboxes ===== */

.whead .on_off { padding: 9px 9px 7px 9px; float: right; }
.whead .on_off .ibutton-container { float: right; }
.whead .on_off [class^="icon-"], .whead .on_off [class*=" icon-"] { margin-top: 3px; display: block; float: left; }
.on_off .ibutton-label-off span { background: url(../images/elements/checkboxes/no.png) no-repeat; width: 8px; height: 9px; position: relative; left: -4px; display: block; float: right; padding-top: 0; margin-top: 2px; padding-right: 7px; text-indent: -9999px;  }
.on_off .ibutton-label-on span { background: url(../images/elements/checkboxes/yes.png) no-repeat; width: 11px; left: -1px; position: relative; height: 11px; display: block; float: right; padding-top: 0px; margin-top: 1px; padding-right: 7px; }
.on_off .ibutton-label-off { color: #fff; background-position: 100% 0; text-shadow: 0 1px #808080; text-align: right; right: 0; width: 95%; }
.on_off .ibutton-container { height: 21px; }
.on_off .ibutton-label-on { color: #fff; text-shadow: 0 1px #808080; left: 0; z-index: 1; background-position: 0 -52px; }
.on_off .ibutton-label-off { background-position: 100% -52px; }
.on_off .ibutton-label-on, .on_off .ibutton-label-off { height: 21px; }
.on_off .ibutton-handle { height: 20px; background-position: 0 -73px; }
.on_off .ibutton-handle-right { background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 100% -73px;  }
.on_off .ibutton-handle-middle { background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 50% -73px;  }
.on_off .ibutton-padding-left, .on_off .ibutton-padding-right { position: absolute;  top: 0; z-index: 2;  background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 0 -52px; width: 3px; height: 20px; }
.on_off .ibutton-padding-right { background-position: 100% -52px; }
	
.ibutton-container { position: relative; height: 26px; cursor: pointer; overflow: hidden; max-width: 400px; -khtml-user-select: none; -o-user-select: none; -moz-user-select: none; -moz-user-focus: ignore;  -moz-user-input: disabled; width: 89px; }
.ibutton-container input { position: absolute; top: 0; left: 0; filter:alpha(opacity=0); -moz-opacity: 0.0;  opacity: 0.0; -moz-user-input: enabled  !important; }
.ibutton-handle { display: block; height: 25px; cursor: inherit; position: absolute; top: 0; left: 0; width: 0; background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 0 -26px; z-index: 3; padding-left: 3px; width: 33px; }
.ibutton-handle-right { height: 100%; width: 100%; padding-right: 3px; background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 100% -26px; z-index: 3;  }
.ibutton-handle-middle { height: 100%; width: 100%; background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 50% -26px; z-index: 3;  }
div.ibutton-label-on, div.ibutton-label-off { white-space: nowrap; font-size: 11px; line-height: 18px; font-weight: bold; text-transform: uppercase; cursor: inherit; display: block; height: 26px; position: absolute; width: auto; top: 0; padding-top: 4px; overflow: hidden;  text-align: center; background: transparent url(../images/elements/checkboxes/ibutton-slider-default.png) no-repeat scroll 0 0; }
div.ibutton-label-on { color: #fff; text-shadow: 0 1px #808080; left: 0; z-index: 1; }
div.ibutton-label-on span { padding-left: 0px; }
div.ibutton-label-off { color: #fff; background-position: 100% 0; text-shadow: 0 1px #808080; text-align: right; right: 0; width: 95%; }
div.ibutton-label-off span label { padding-right: 10px;  margin-left: -2px }
.ibutton-padding-left { left: 0; }
.ibutton-padding-right { right: 0; }
.ibutton-disabled { cursor: not-allowed !important; opacity: 0.6; filter:alpha(opacity=60); }



